<html>

<head>
</head>

<body style="background-color: #d2edf7">
    <a name="top">
        <table border="1" style="text-align:center; width:100%; background-color: #FFFFFF">
          <tr style="color:rgb(210,30,30)">
            <td><a href = "index.html"> Home </a></td>
            <td><a href = "titlegen.html">Title Generator </a></td>
            <td><a href = "trending.html"> What's Trending </a></td>
            <td><a href = "events.html"> Current Events </a></td>
            <td><a href = "tracking.html"> Track A YouTuber </a></td>
            <td><a href = "form.html"> Form </a></td>
            <td><a href = "parse.html"> Filter Data </a></td>
          </tr>
        </table>
    </a>

    <br/><br/><br/>

    <img src="myy_logo_transparent.png" width="10%" height="12%" >

    <center>
        <table border="1" style="border-style: solid; background-color: #FFFFFF"> 
            <tr style="padding: 40px"> <td style="padding: 40px">
                <center>
                <h2>Here are some of our functions!</h2>
                <p>If you would like to insert a new video, click <a href="insert_video.html">here</a></p>
                <p>If you would like to insert a new user, click <a href="insert_user.html">here</a></p>
                <p>If you would like to search for a video, click <a href="search.html">here</a></p>
                <p>If you would like to update your user information, click <a href="update_user.html">here</a></p>
                <p>If you would like to delete your user information, click <a href="delete_user.html">here</a></p>
                
                <form action="advquery1">
                    <button type="submit">Advanced Query 1</button>
                </form>

                <form action="advquery2">
                    <button type="submit">Advanced Query 2</button>
                </form>
            </center>

            </td></tr>
            

        </table>
    
</center>

<hr/>
    <center>
    <table style="text-align:center; width:50%">
      <tr style="color:rgb(210,30,30);">
        <th>Questions?</th>
        <th>Learn More</th>
      </tr>
      <tr>
        <td><a href="mailto:traderjoes@gmail.com"><span style="color:rgb(210,30,30);">Contact Us!</span></a></td>
        <td><a href="https://www.traderjoes.com/home/FAQ"><span style="color:rgb(210,30,30);">FAQs</span></a></td>
      </tr>
    </table>
    </center>

    <form action="observations.html">
        <button type="submit">View Observations</button>
    </form>

</body>

</html>
