<html>

<head>
</head>

<body>

    <p>If you would like to insert a new video, click <a href="insert_video.html">here</a></p>
    <p>If you would like to insert a new user, click <a href="insert_user.html">here</a></p>
    <p>If you would like to search for a video, click <a href="search.html">here</a></p>
    <p>If you would like to update your user information, click <a href="update_user.html">here</a></p>
    <p>If you would like to delete your user information, click <a href="delete_user.html">here</a></p>

    <form action="advquery1">
        <button type="submit">Advanced Query 1</button>
    </form>

    <form action="advquery2">
        <button type="submit">Advanced Query 2</button>
    </form>

</body>

</html>